<h1>Titolo Home</h1>

<p>contenuto Home</p>
<!-- costruzione form -->
<form #homeform="ngForm" (ngSubmit)="onSubmit(homeform)" >
<mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput type="text" name="nome" ngModel required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" ngModel required email>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Colori</mat-label>
    <mat-select name="colore" ngModel>
      <mat-option value="blu">Blu</mat-option>
      <mat-option value="rosso">Rosso</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Commenti</mat-label>
    <textarea matInput name="commenti" ngModel></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!homeform.valid">Invia</button>

</form>
  